
<div class="row">
    <div class="medium-8 medium-offset-2 columns end">
        <form action='login' method='post'>
            <div class="row small-text-left medium-text-right">

                <div class="medium-1 medium-offset-0 large-offset-1 columns hide-for-small-only">
                    <label for="ctl01_username" class="inline" style="font-size: 150%;text-align:right;">
                        <i class="fa fa-user-circle"></i>
                    </label>
                </div>
                <div class="small-12 medium-11 large-9 end columns">
                    <input id="username" name="username" placeholder="Username" type="text" value="" />
                </div>
            </div>
            <div class="row small-text-left medium-text-right">
                <div class="medium-1 medium-offset-0 large-offset-1 columns hide-for-small-only">
                    <label for="ctl01_password" class="inline" style="font-size: 150%;text-align:right;padding-right:0.3rem;">
                        <i class="fa fa-unlock-alt"></i>
                    </label>
                </div>
                <div class="small-12 medium-11 large-9 end columns">
                    <input id="password" name="password" placeholder="Password" type="password" />
                </div>
            </div>
            <div class="row">
                <div class="medium-1 medium-offset-0 large-offset-1 columns hide-for-small-only">
                    &nbsp;
                </div>

                <div class="small-12 medium-11 large-9 end columns" style="text-align: right">
                    <input id="submit" type="submit" class="button" style="width:150px;" value="Sign in" />
                </div>
            </div>
        </form>
    </div>
</div>